@charset 'UTF-8';
/* 
    #71bba9 
    #7c29a3
*/
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body, html {
    background-color: #7c29a3;
    width: 100vw;
    height: 100vh;
 }
 main{
    height: 100vh;
    width: 100vw;
    position: relative;
 }
 section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    border: 0px 0px 10px  rgba(0, 0, 0, 0.473);

   transition: width 0.5s, height 0.5s;
   transition-timing-function: ease;
 }
 section#login > div#imagem {
    display: block;
    background:  #7c29a3 url(../imagem/pexels-luis-ruiz-1774931\ \(1\).jpg) no-repeat;
    background-size: cover;
    height: 200px;
 }
 section#login > div#formulario {
    padding: 10px;
    display: block;
 }